<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>harman_Hackathon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DC97E9C1CC268C2005C9BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DC97EAB1CC268C2005C9BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DC97EB61CC268C3005C9BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
